version: '3'
services:
  jboss:
    image: quay.io/wildfly/wildfly
    volumes:
<<<<<<< HEAD
#      - ./target/myPack-1.war.failed:/opt/jboss/wildfly/standalone/deployments/myPack.war
      - ./target:/opt/jboss/wildfly/standalone/deployments
||||||| 345d1ee
      - ./target:/opt/jboss/wildfly/standalone/deployments/
=======
      - "./target/myPack-1.0-SNAPSHOT.war:/opt/jboss/wildfly/standalone/deployments/ROOT.war"
>>>>>>> main
    ports:
      - "8082:8080"
  db:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: koala
      MYSQL_DATABASE: mypack
    volumes:
      - dbmypack:/var/lib/mysql
    ports:
      - 3307:3306

  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - 8083:80
    environment:
      - PMA_PORT=3306
      - PMA_USER=root
      - PMA_PASSWORD=koala
    depends_on:
      - db
volumes:
  dbmypack: